       <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Informaticaproject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Informaticaproject.styles.css" asp-append-version="true" />
   
</head>
<body class="bodyall">
    <header class="headerall">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3 headerall">
            <div1 class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img height="50px"; length="50px"; src= "~/Images/boot.png" alt= "De Partyboot"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="search-container">
        <input type="text" class="search-input" placeholder="Zoeken...">
        <button class="search-button">Zoeken</button>
    </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 navbar-right">
                        <li class="nav-item navbar-li">
                            <a class="nav-button" asp-area="" asp-controller="Home" asp-action="OverOns">Over Ons</a>
                        </li>
                        <li class="nav-item navbar-li">
                            <a class="nav-button" asp-area="" asp-controller="Home" asp-action="Privacy">Overzicht evenementen</a>
                        </li>
                        <li class="nav-item navbar-li">
                            <a class="nav-button" asp-area="" asp-controller="Home" asp-action="Contact">Contactpagina</a>
                        </li>
                    </ul>
                </div>
            </div1>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            <h1>Contact</h1>
            <p>DePartyboot@gmail.com<br>06-88439123</p>
        </div>
        <ul class="social-icons">
    <li>
      <a href="https://www.facebook.com">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png" alt="Facebook">
      </a>
    </li>
    <li>
      <a href="https://www.twitter.com">
        <img src="https://static.vecteezy.com/system/resources/previews/018/930/745/non_2x/twitter-logo-twitter-icon-transparent-free-free-png.png" alt="Twitter">
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="Instagram">
      </a>
    </li>
  </ul>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
