/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
    background-color: #124566;
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 15px;
    height: 75px;
    z-index: 1;
}

.footer h1{
    color: #badef7;
    font-size: 30px;
    line-height: 70%;
    padding-top: 5px;
    padding-bottom: 1px;
}

.footer p{
    color: #badef7;
}

.search-input {
    width: 300px;
    background-color: #badef7;
    padding: 10px;
}

.search-button {
    background-color: #badef7;
    padding: 10px;
}

img {
    height: 50px;
    width: 50px;
}

nav li a { 
    color: #badef7;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin-top: -70px;
    margin-left: 90%;
}

    .social-icons li {
        display: inline-block;
        margin-right: 10px;
    }