<style>

.details {
        top: 30px;
        height: 900px;
        background-color: #badef7;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        border-radius: 25px;
    }
   
    .overtekst {
        margin-right: 2%;
        margin-left: 2%;
    }

    .google-map {
        margin-left: 20%;

    }
    
    .titeloverons {
        color: #124566;
        text-align: center;
    }
</style>

<div class="details">
<h1 class="titeloverons"><b>Over Ons</b></h1>
<p class="overtekst">Welkom bij De Partyboot!

Bij De Partyboot zijn we gepassioneerd door wat we doen en streven we ernaar om onze klanten de beste ervaring te bieden. We zijn een toegewijd team van professionals met een gedeelde visie: het leveren van hoogwaardige festivals en het overtreffen van de verwachtingen van onze klanten.
Onze missie is om onze klanten een onvergetelijke cruise te geven met enorm veel festivalplezier. Met jarenlange ervaring en expertise in het organiseren van festivals op cruises, hebben we een erg goede reputatie opgebouwd als betrouwbare partner voor onze klanten. We geloven in het opbouwen van langdurige relaties en streven ernaar om waarde toe te voegen aan elke interactie die we hebben.
Bij De Partyboot staat kwaliteit voorop. We streven naar uitmuntendheid in alles wat we doen, van productontwikkeling tot klantenservice. 
 We blijven op de hoogte van de nieuwste ontwikkelingen en trends in onze branche, zodat we altijd voorop blijven lopen en onze klanten de meest geavanceerde oplossingen kunnen bieden.
Naast onze toewijding aan kwaliteit en innovatie, geloven we ook sterk in klantgerichtheid. We luisteren naar onze klanten, begrijpen hun unieke behoeften en zorgen ervoor dat we oplossingen bieden die aan die behoeften voldoen. Ons team staat altijd klaar om vragen te beantwoorden, ondersteuning te bieden en ervoor te zorgen dat onze klanten tevreden zijn.
We nodigen u uit op ons bureau op de Aart van der Leeuwkade 14 in Voorburg om meer te ontdekken over De Partyboot en onze festivals. Neem gerust contact met ons op voor meer informatie of om met ons samen te werken. We kijken ernaar uit om u van dienst te zijn! </p>
<div class="google-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2452.368051335387!2d4.353619376971166!3d52.073029569225284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b7adcfb86ce5%3A0x2ea8437ebad02fb4!2sSint-Maartenscollege!5e0!3m2!1snl!2snl!4v1686563295759!5m2!1snl!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>




