 <style>
    .square {
        top: 30px;
        height: 300px;
        background-color: #badef7;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        border-radius: 25px;
        margin-bottom: 20px;
    }

    .square2 {
        height: 50px;
        width: 40%;
        margin-left: 50px;
        background-color: #124566;
        border-radius: 35%;
    }

    .text{
        margin-left: 2%
    }

    .textsmall {
        margin-right: 50%;
        margin-left: 2%;
    }

    .textxsmall {
        color: #badef7;
        text-align: center;
    }

 </style>

<div class="square">
    <h1 class="text"><b>Summer Festival</b></h1>
    <p class="textsmall">16-07-2023 / 20-07-2023<br>Dit festival is fantastisch voor iedereen die houdt van een feestje! Zeer veel nieuwe zomerhits en heerlijk weer!</p>
<ul>
    <li>Prijs: €449,99</li>
    <li>Leeftijd: 18+</li>
    <li>Muziek: Zomerhits</li>
</ul>
<div class="square2">
    <p class="textxsmall">Koop hier je tickets!</p>
</div>
</div>
<div class="square">
    <h1 class="text"><b>Schuim Festival</b></h1>
    <p class="textsmall">29-07-2023 / 02-08-2023<br>Dit festival is perfect voor iedereen die ervan houdt om tussen het schuim te feesten in je zwembroek of bikini!</p>
    <ul>
        <li>Prijs: €449,99</li>
        <li>Leeftijd: 18+</li>
        <li>Muziek: Dance</li>
    </ul>
    <div class="square2">
        <p class="textxsmall">Koop hier je tickets!</p>
    </div>
    </div>
<div class="square">
    <h1 class="text"><b>Light Festival</b></h1>
    <p class="textsmall">18-08-2023 / 22-08-2023<br>Dit festival met mooie lichten is perfect om een weekje rust te nemen en te genieten van oude bangers!</p>
    <ul>
        <li>Prijs: €449,99</li>
        <li>Leeftijd: 30+</li>
        <li>Muziek: Oude hits</li>
    </ul>
    <div class="square2">
        <p class="textxsmall">Koop hier je tickets!</p>
    </div>
    <img src="https://th.bing.com/th/id/OIP.T8WLANGx98HDq-GpHHLnWwHaHa?pid=ImgDet&rs=1.jpg">
</div>
<div class="square"></div>
<div class="square"></div>

