.navbar-right {
    width: auto;
    float: right;
    display: block;
    color: #badef7;
}

.navbar-li {
    display: inline-block;
    float: right;
    color: #badef7;
}

.bodyall {
    background-color: #61b9d1;
}

.headerall {
    background-color: #124566;
}

.homepage {

}